.app {
    display: flex;
    background-color: var(--background-white);
    min-height: 200vh;
}


.body {
    padding: 4rem 3rem;
}

.mobile-body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding: 10rem 1rem 2rem 1rem;
}



.title {
    display: flex;
    gap: 1rem;
    align-items: center;
    margin-bottom: 2rem;
    text-transform: uppercase;
    font-weight: 500;
    color: var(--font-grey);
    letter-spacing: 0.1rem;
}

.icon {
    width: 38px;
    height: 38px;
}

.body h1 {
    font-size: 32px;
}

.mobile-body h1 {
    font-size: 28px;
}

@media screen and (max-width: 550px) {

    .mobile-body {
        padding: 6rem 1rem 2rem 1rem;
    }


    .mobile-body h1 {
        font-size: 20px;
    }
}
