.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    
    padding: 0rem 2.5rem 0rem 5rem;

    position: fixed;

    width: 100%;
    height: 8rem;

    -webkit-backface-visibility: hidden;
    background-color: var(--main-color);
    box-shadow: 2px 0px 4px black;
    box-sizing: border-box;
}

.logo{
    width: 13rem;
}

.minilogo {
    display: none;
}

.burguer {
    width: 3rem;
}

.photo img {
    max-width: 5rem !important;
}

.sidebarContainer {
    position: fixed;
    width: 100vw;
    height: 100vh;
    
    z-index: 10;
}

.sidebarBackground {
    transition: background-color .5s;
}

.active {
    transform: translate(0vw);
    transition: .7s;
}

.active .sidebarBackground {
    background-color: rgba(0, 0, 0, 0.70);
    transition-delay: .6s;
}

.inactive {
    transform: translate(-100vw);
    transition: .5s ease-in;
    transition-delay: .25s;
}

.inactive .sidebarBackground {
    background-color: #ffffff00;
}

@media screen and (max-width: 550px) {
    .headerContainer {
        height: 4rem;
        padding: 0rem 1rem 0rem 2rem;
    }

    .logo {
        display: none;
    }

    .minilogo {
        display: inline-block;
        height: 2.5rem;
        width: 2.5rem;
        margin-right: 1rem;
    }

    .burguer {
        width: 2rem;
    }

    .photo {
        display: none;
        margin-right: 1rem;
    }
}