/* Base CSS */

a {
    text-decoration: none;
}

.text {
    font-weight: bold;
    font-size: 18px;
    color: var(--background-white)
}

.container {
    display: flex;
    gap: 1rem;
    
    align-items: center;
    padding: 1rem;
    height: 1.5rem;
    
    border-radius: 12px;

    cursor: pointer;

    transition: .2s;
}

.container:hover {   
    background-color: var(--hover-green);
}


.containerActive {
    background-color: var(--background-white);
}

.containerActive:hover {
    background-color: var(--background-white) !important;
}

.containerActive .icon {
    filter: none;
}

.containerActive .text {
    color: var(--main-color);
}

.icon {
    padding-left: 0.5rem;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(1180%) contrast(119%);
}
