/* Base CSS */

.text {
    font-weight: bold;
    font-size: 18px;
    color: var(--background-white);
    transition: .7s;
    transition-timing-function: ease;
}

.container {
    display: flex;
    gap: 1rem;
    
    align-items: center;
    padding: 1rem;
    min-height: 2rem;
    min-width: 2rem;
    
    border-radius: 12px;

    transition: .4s;
    
    cursor: pointer;
    
}

.container:hover {   
    background-color: var(--hover-green);
}


.containerActive {
    background-color: var(--background-white);
}

.containerActive:hover {
    background-color: var(--background-white) !important;
}

.containerActive .icon {
    filter: none;
}

.containerActive .text {
    color: var(--main-color);

}

.icon {
    max-width: 24px;
    filter: invert(0%) sepia(100%) saturate(0%) hue-rotate(86deg) brightness(1180%) contrast(119%);
}

.retracted {
    width: 2rem;
    margin: 0 auto;

    border-radius: 8px;
}

.retracted .icon {
    margin: 0 auto;
    padding-left: 0.2rem;
}

.retracted .text {
    opacity: 0;
    transition: opacity 0s;

}
